@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");
* {
  padding: 0px;
  margin: 0px;
  list-style: none;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  transition: .3s;
}
:root {
  --secondary-color: deeppink;
  --white-color: white;
  --black-color: black;
}

body {
  background: #171616;
  color: var(--white-color);
}
.img-fluid {
  max-width: 100%;
  height: auto;
}
.container {
  padding: 50px 20px;
  min-height: 70vh;
}
#mainTopFinder{
  text-align: center;
  margin-bottom: 20px;
  font-weight: 600;
}
.top-row {
  max-width: 600px;
  /* width: 100%; */
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto;
  margin-bottom: 30px;
  gap: 10px;
  background-color: gray;
  border-radius: 5px;
  border: 1px dashed var(--white-color);
  padding: 10px 10px;
}
.top-row input {
  width: 100%;
  padding: 10px;
  border: none;
  outline: none;
  border-radius: 5px;
}
.top-row button {
  padding: 10px 0px;
  width: 149px;
  font-size: 14px;
  font-weight: 600;
  cursor: pointer;
  border: none;
  border-radius: 5px;
  background-color: var(--secondary-color);
  color: var(--white-color);
}
.container .recipe-result .flex-boxes {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
.container .recipe-result .flex-boxes .recipe-box {
  max-width: 300px;
  width: 100%;
  padding: 20px;
  background-color: #252525;
  flex-basis: 300px;
  flex-grow: 1;
}
.container .recipe-box h1 {
  font-size: 20px;
  color: var(--white-color);
}

/* code for recipe page  */
#recipe .container{
  max-width: 1080px;
  margin: auto;
}
#recipe #recipeBox h2{
  font-size: 40px;
  font-weight: 400;
  margin-bottom: 1px;
}
#recipe #recipeBox h5{
  font-size: 18px;
  margin-top: 6px;
  color: gray;
  margin-bottom: 20px;
  font-weight: 400;
}
#recipe #recipeBox #recipeImage{
  width: 100%;
  height: 400px;
  object-fit: cover;
  margin-bottom: 20px;
  background: url(/pexels-farhad-8697540.jpg) no-repeat center center/cover;
  /* background-attachment: fixed !important; */
  border-radius: 5px;
}
#recipe #recipeBox h3{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
#recipe #recipeBox #recipeTable{
padding: 10px;
border: 5px solid #4d4c4c;
background-color: #252525;
display: flex;
flex-wrap: wrap;
gap: 10px;
margin-bottom: 20px;
}
#recipe #recipeBox #recipeTable .tbCol{
  padding: 5px 10px;
  border: 2px solid #4d4c4c;
  margin-bottom: 10px;
  flex-basis: 230px;
  flex-grow: 1;
  max-width: 230px;
}
#recipe #recipeBox #recipeTable .tbCol span{
  font-weight: 600;
}
#recipe #recipeBox #recipeTable .tbCol:hover{
  background-color: #4d4c4c;

}
#recipe #recipeBox #makingInfo h3{
  font-size: 30px;
  font-weight: 400;
  margin-bottom: 10px;
}
#recipe #recipeBox .details p#makingInfoPara{
  font-size: 16px;
  color: gray;
  margin-bottom: 50px;
  white-space: pre-line;
}
#recipe #recipeBox .details p#makingInfoPara:hover{
  color: var(--white-color);
  font-size: 20px;
}
#makingVideo a{
  background-color: var(--secondary-color);
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 20px;
  max-width: 600px;
  margin: auto;
  color: var(--white-color) !important;
  font-size: 20px;
  padding: 10px 20px;
  border-radius: 7px;
  margin-bottom: 50px;
}
#makingVideo a i{
  font-size: 30px;
}
#goBack{
  font-size: 20px;
  margin-bottom: 20px;
  display: inline-block;
  color: gray;
}
#goBack i{
  color: var(--white-color);
  font-size: 16px;
}
#goBack:hover{
  color: var(--white-color);
}


@media screen and (max-width: 770px) {
  .container .recipe-result .flex-boxes .recipe-box {
    flex-basis: 200px;
  }
}

@media screen and (max-width: 560px) {
  .container .recipe-result .flex-boxes .recipe-box {
    flex-basis: 150px;
  }.container .recipe-result .flex-boxes .recipe-box{
    padding: 10px;
  }.top-row button{
    font-size: 10px;
  }.top-row input{
    padding: 7px 10px;
  }
}